@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?wm14l1");
  src: url("../fonts/icons/icomoon.eot?wm14l1#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?wm14l1") format("truetype"), url("../fonts/icons/icomoon.woff?wm14l1") format("woff"), url("../fonts/icons/icomoon.svg?wm14l1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\f099"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-coffee:before {
  content: "\f0f4"; }

.icon-dribbble:before {
  content: "\f17d"; }

html, body {
  font-size: 14px; }

h2 {
  margin-top: 0;
  margin-bottom: 0; }

body {
  width: 100%;
  max-width: 1920px; }

header {
  background-image: url(../img/HeaderBack.jpg);
  background-size: cover;
  background-position: center center;
  padding-bottom: 13.44%; }
  header .topmenu {
    padding: 3.33% 0 3.39% 0;
    background: rgba(53, 63, 70, 0.5); }
    header .topmenu .topbtn {
      padding: 10px 17px 8px 17px;
      color: white;
      font-weight: bold;
      border: 2px solid transparent;
      -webkit-transition: color 0.5s, border 0.5s;
      transition: color 0.5s, border 0.5s; }
      header .topmenu .topbtn:active {
        color: #4bcaff;
        border-color: #4bcaff;
        cursor: pointer; }
      header .topmenu .topbtn:hover {
        cursor: pointer;
        color: #4bcaff; }
  header .headwrapper {
    margin-top: 13.02%; }
  header .heroHeading_logophrase {
    color: #fff;
    background: rgba(53, 63, 70, 0.7);
    padding: 0 20px;
    font-size: 3rem;
    line-height: 75px;
    font-family: "SegoeUILight","Arial", sans-serif;
    text-transform: uppercase; }

main {
  background: #4bcaff;
  font-family: "SegoeUILight","Arial", sans-serif; }
  main .services_head {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.14rem;
    margin: 6.66% 0 3.76% 0; }
    main .services_head span {
      border-bottom: 0.067em  solid #fff; }
  main .services_items {
    color: #fff; }
    main .services_items .item_head {
      text-transform: uppercase;
      font-family: "SegoeUIBold","Arial", sans-serif;
      font-size: 1.71rem; }
    main .services_items .item_desc {
      font-family: "SegoeUIRegular","Arial", sans-serif;
      font-size: 0.857rem; }

.portfolio_ul {
  list-style-type: none;
  margin-top: 5%;
  margin-bottom: 5%; }
  .portfolio_ul .portf_logo {
    font-family: "SegoeUILight","Arial", sans-serif;
    text-transform: uppercase;
    color: #515f67;
    font-size: 2.14rem; }
    .portfolio_ul .portf_logo .span_a {
      border-bottom: 0.067em  solid #515f67;
      display: inline;
      padding-right: 0.3em; }
    .portfolio_ul .portf_logo .span_b {
      margin-left: -0.3em; }
  .portfolio_ul .portf_btn {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "SegoeUIBold","Arial", sans-serif;
    color: #515f67;
    padding: 10px 17px 8px 17px;
    text-decoration: none;
    border: 2px solid transparent;
    -webkit-transition: color 0.5s, border 0.5s;
    transition: color 0.5s, border 0.5s; }
    .portfolio_ul .portf_btn:active {
      color: #4bcaff;
      border-color: #4bcaff;
      cursor: pointer; }
    .portfolio_ul .portf_btn:hover {
      cursor: pointer;
      color: #4bcaff; }
  .portfolio_ul #portf_btn_panoram {
    margin-right: 0.6em; }
  .portfolio_ul #portf_btn_portr {
    margin-left: 0.4em; }
  .portfolio_ul #portf_btn_macro {
    margin-left: 0.6em; }
  .portfolio_ul #portf_btn_journal {
    margin-left: 0.8em; }

.portf_img {
  margin-bottom: 2.48%; }
  .portf_img .thumbs_row {
    padding-top: 98.89%;
    display: block; }

.thumbs_row1_1 {
  background-position: center center;
  background-size: cover;
  background-color: #979797;
  background-image: url(../img/photo1_1.png); }

.thumbs_row1_2 {
  background-position: center center;
  background-size: cover;
  background-color: #979797;
  background-image: url(../img/photo1_2.png); }

.thumbs_row1_3 {
  background-position: center center;
  background-size: cover;
  background-color: #979797;
  background-image: url(../img/photo1_3.png); }

.thumbs_row1_4 {
  background-position: center center;
  background-size: cover;
  background-color: #979797;
  background-image: url(../img/photo1_4.png); }

.thumbs_row2_1 {
  background-position: center center;
  background-size: cover;
  background-color: #979797;
  background-image: url(../img/photo2_1.png); }

.thumbs_row2_2 {
  background-position: center center;
  background-size: cover;
  background-color: #979797;
  background-image: url(../img/photo2_2.png); }

.thumbs_row2_3 {
  background-position: center center;
  background-size: cover;
  background-color: #979797;
  background-image: url(../img/photo2_3.png); }

.thumbs_row2_4 {
  background-position: center center;
  background-size: cover;
  background-color: #979797;
  background-image: url(../img/photo2_4.png); }

.defsec {
  background: #515f67; }
  .defsec .defsec_row {
    margin-top: 6.66%;
    margin-bottom: 7.094%; }
  .defsec .defsectxt {
    font-family: "SegoeUILight","Arial", sans-serif;
    color: #fff; }
    .defsec .defsectxt .defsec_header {
      text-transform: uppercase;
      font-size: 2.14rem; }
      .defsec .defsectxt .defsec_header span {
        border-bottom: 0.067em  solid #fff; }
    .defsec .defsectxt p {
      font-size: 1rem;
      font-family: "SegoeUIRegular","Arial", sans-serif;
      line-height: 1.71rem; }
    .defsec .defsectxt p:nth-child(2) {
      margin-top: 2.71em; }
    .defsec .defsectxt a {
      display: inline-block;
      margin-top: 2.714em;
      font-size: 1rem;
      font-family: "SegoeUIBold","Arial", sans-serif;
      text-transform: uppercase;
      color: #353f46;
      padding: 1.071em 2.714em;
      text-decoration: none;
      border: 2px solid #353f46;
      -webkit-transition: color 0.5s, border 0.5s;
      transition: color 0.5s, border 0.5s; }
      .defsec .defsectxt a:active {
        color: #4bcaff;
        border-color: #fff;
        cursor: pointer; }
      .defsec .defsectxt a:hover {
        cursor: pointer;
        color: #fff; }

.twitter {
  background: #4bcaff;
  color: #fff; }
  .twitter .twitter_row {
    margin-top: 6.66%; }
  .twitter .twitter_head {
    font-family: "SegoeUILight","Arial", sans-serif;
    text-transform: uppercase; }
    .twitter .twitter_head span {
      border-bottom: 0.067em  solid #fff; }
  .twitter .twitter_icon {
    font-size: 2.14rem; }
  .twitter .twitter_txt {
    font-size: 2rem;
    clear: both;
    font-family: "SegoeUILight","Arial", sans-serif;
    margin-top: 3.077%;
    margin-bottom: 6.66%;
    padding-right: 0;
    line-height: 1.78571em; }
    .twitter .twitter_txt span {
      font-family: "SegoeUISemiBold","Arial", sans-serif; }

.john {
  color: #fff;
  background: url(../img/john.png);
  background-position: center center;
  background-size: cover; }
  .john .john_headrow {
    margin-top: 8.376%;
    margin-bottom: 3.93%; }
    .john .john_headrow .john_head {
      font-family: "SegoeUILight","Arial", sans-serif;
      text-transform: uppercase; }
      .john .john_headrow .john_head span {
        border-bottom: 0.067em  solid #fff; }
  .john .john_txtrow {
    margin-bottom: 13.85%;
    font-size: 1rem;
    font-family: "SegoeUIRegular","Arial", sans-serif; }
    .john .john_txtrow .john_txt1 p:first-child {
      padding-bottom: 5.47%; }
    .john .john_txtrow .john_txt2 p:first-child {
      padding-bottom: 5.47%; }
    .john .john_txtrow .john_txt2 .john_icons {
      font-size: 1rem; }
      .john .john_txtrow .john_txt2 .john_icons i {
        padding: 1em;
        border: 2px solid #fff;
        margin-right: 1.07143em; }
