html, body {
  height: 100%;
  font-size: 14px; }

body {
  max-width: 1920px; }

header {
  background-image: url(../img/HeaderBack.jpg);
  background-size: cover;
  background-position: center center; }
