@import "mixins";
//segoe
@font-face {
			font-family: "SegoeUIRegular";
			src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
			src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
			url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "SegoeUIBold";
			src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
			src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
			url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "SegoeUIItalic";
			src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
			src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
			url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "SegoeUILight";
			src: url("../fonts/SegoeUILight/SegoeUILight.eot");
			src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
			url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "SegoeUISemiBold";
			src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
			src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
			url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
//bitter
	@include font-face("Bitter-Bold", "../fonts/bitter/Bitter-Bold", normal, normal);
	
 
	//icons
	@font-face {
  	font-family: 'icomoon';
 	 src:  url('../fonts/icons/icomoon.eot?wm14l1');
	 src:  url('../fonts/icons/icomoon.eot?wm14l1#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?wm14l1') format('truetype'),
    url('../fonts/icons/icomoon.woff?wm14l1') format('woff'),
    url('../fonts/icons/icomoon.svg?wm14l1#icomoon') format('svg');
 	 font-weight: normal;
 	 font-style: normal;
}
	[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-dribbble:before {
  content: "\f17d";
}