//import fonts
@import "fonts";
@import "functions";

//  *[class*="col-"]{
// 	padding-left: 0;
// }

html, body{
	font-size: 14px;
}
h2{
	margin-top: 0;
	margin-bottom: 0;
}
body{
	width: 100%;
	max-width: 1920px;
}
header{
	background-image: url(../img/HeaderBack.jpg);
	background-size: cover;
	background-position: center center;
	padding-bottom: 13.44%;
	

	.topmenu{
		padding: 3.33% 0 3.39% 0;
		background: rgba(53, 63, 70, 0.5);
			.topbtn{
				padding:10px 17px 8px 17px;
				color:white;
				font-weight: bold;
				border: 2px solid transparent;
				-webkit-transition: color 0.5s, border 0.5s;
				transition: color 0.5s, border 0.5s;
				&:active{
					color:#4bcaff;
					border-color:  #4bcaff;
					cursor: pointer;
				}
				&:hover{
					cursor: pointer;
					color:#4bcaff;
				}
			}
	}
	.headwrapper{
		margin-top:13.02%;
	}
	.heroHeading_logophrase{
		color:#fff;
		background: rgba(53, 63, 70, 0.7);
		padding:0 20px;
		font-size:3rem;
		line-height: 75px;
		font-family: "SegoeUILight","Arial", sans-serif;
		text-transform: uppercase;
		
	}
}
main{
	background: #4bcaff;
	font-family: "SegoeUILight","Arial", sans-serif;
		.services_head{
			text-transform:uppercase;
			color: #fff;
			font-size: 2.14rem;
			margin: 6.66% 0 3.76% 0;
				span{
					border-bottom: 0.067em  solid #fff;
			}
		}
		.services_items{
			color: #fff;
			.item_head{
				text-transform:uppercase;
				font-family: "SegoeUIBold","Arial", sans-serif;
				font-size: 1.71rem;
			}
			.item_desc{
				font-family: "SegoeUIRegular","Arial", sans-serif;
				font-size: 0.857rem;
			}
		}
}
.portfolio_ul{
	list-style-type: none;
	// padding:0;
	margin-top:5%;
	margin-bottom:5%;
			.portf_logo{
			font-family: "SegoeUILight","Arial", sans-serif;
			text-transform:uppercase;
			color: #515f67;
			font-size: 2.14rem;
				.span_a{
					border-bottom: 0.067em  solid #515f67;
					display:inline;
					padding-right: 0.3em;
				 }
				 .span_b{
				 	margin-left: -0.3em ;
				 }
				}
	
		.portf_btn{
				font-size:1rem;
				text-transform:uppercase;
				font-family:"SegoeUIBold","Arial", sans-serif;
				color:#515f67;
				padding:10px 17px 8px 17px;
				text-decoration:none;
				border: 2px solid transparent;
				-webkit-transition: color 0.5s, border 0.5s;
				transition: color 0.5s, border 0.5s;
				&:active{
					color:#4bcaff;
					border-color:  #4bcaff;
					cursor: pointer;
				}
				&:hover{
					cursor: pointer;
					color:#4bcaff;
				}
			}
		
	// #portf_btn_all{ //Change!!
	// 	padding-left: 1em;

	// }
	#portf_btn_panoram{
		margin-right:0.6em;
		
	}
	#portf_btn_portr{
		margin-left: 0.4em;
	}
	#portf_btn_macro{
		margin-left: 0.6em;
	}
	#portf_btn_journal{
		margin-left: 0.8em;
	}
}

.portf_img{
	margin-bottom:2.48%;

		.thumbs_row{
			padding-top: 98.89%;
			display: block;
			
		}
}



.thumbs_row1_1{
	background-position:center center;
	background-size:cover;
	background-color: #979797;
	background-image: url(../img/photo1_1.png);
}
.thumbs_row1_2{
	background-position:center center;
	background-size:cover;
	background-color: #979797;
	background-image: url(../img/photo1_2.png);
}
.thumbs_row1_3{
	background-position:center center;
	background-size:cover;
	background-color: #979797;
	background-image: url(../img/photo1_3.png);
}
.thumbs_row1_4{
	background-position:center center;
	background-size:cover;
	background-color: #979797;
	background-image: url(../img/photo1_4.png);
}
.thumbs_row2_1{
	background-position:center center;
	background-size:cover;
	background-color: #979797;
	background-image: url(../img/photo2_1.png);
}
.thumbs_row2_2{
	background-position:center center;
	background-size:cover;
	background-color: #979797;
	background-image: url(../img/photo2_2.png);
}
.thumbs_row2_3{
	background-position:center center;
	background-size:cover;
	background-color: #979797;
	background-image: url(../img/photo2_3.png);
}
.thumbs_row2_4{
	background-position:center center;
	background-size:cover;
	background-color: #979797;
	background-image: url(../img/photo2_4.png);
}

//Default section
.defsec{
	background:#515f67;
	.defsec_row{
		margin-top: 6.66%;
		margin-bottom:7.094%;
	}
		.defsectxt{
			font-family: "SegoeUILight","Arial", sans-serif;
			color:#fff;
				.defsec_header{
				text-transform:uppercase;
				font-size: 2.14rem;
					span{
						
						border-bottom: 0.067em  solid #fff;
					}
				}	
				p{
					font-size: 1rem;
					font-family: "SegoeUIRegular","Arial", sans-serif;
					line-height: 1.71rem;
					
				}
				p:nth-child(2){
						margin-top:2.71em;
					}
				a{	
					display:inline-block;
					margin-top:2.714em;
					font-size:1rem;
					font-family: "SegoeUIBold","Arial", sans-serif;
					text-transform:uppercase;
					color:#353f46;
					padding:1.071em 2.714em;
					text-decoration:none;
					border: 2px solid #353f46;
					-webkit-transition: color 0.5s, border 0.5s;
					transition: color 0.5s, border 0.5s;
					&:active{
						color:#4bcaff;
						border-color:  #fff;
						cursor: pointer;
					}
					&:hover{
						cursor: pointer;
						color:#fff;
					}
				}
		}
					
}	

	.twitter{
		background:#4bcaff;
		color:#fff;
		.twitter_row{
			margin-top: 6.66%;
		}
			.twitter_head{
				font-family: "SegoeUILight","Arial", sans-serif;
				text-transform:uppercase;
					span{
						border-bottom: 0.067em  solid #fff;
					}
			}
			.twitter_icon{
				font-size: 2.14rem;
			}

			.twitter_txt{
				font-size: rem(28);
				clear:both;
				font-family: "SegoeUILight","Arial", sans-serif;
				margin-top: 3.077%;
				margin-bottom: 6.66%;
				padding-right: 0;
				line-height: em(50,28);
				
					span{
						font-family: "SegoeUISemiBold","Arial", sans-serif;
					}

			}
	} 

	//John Doe 
	.john{
		color:#fff;
		background: url(../img/john.png);
		background-position: center center;
		background-size: cover;
			.john_headrow{
				margin-top:8.376%;
				margin-bottom: 3.93% ;

				.john_head{
					font-family: "SegoeUILight","Arial", sans-serif;
					text-transform: uppercase;
						span{
							border-bottom: 0.067em  solid #fff;
						}
				}
			}
			.john_txtrow{
				margin-bottom: 13.85%;
				font-size: 1rem;
				font-family: "SegoeUIRegular","Arial", sans-serif;
					.john_txt1{
							p:first-child{
								padding-bottom: 5.47%;
							}
					}
					.john_txt2{
							p:first-child{
								padding-bottom: 5.47%;
							}
							.john_icons{
								font-size: 1rem;
									i{
										padding:1em;
										border: 2px solid #fff;
										margin-right: em(15);
									}
							}
					}
			}
	}